div{
background-image: url(../imagenes/imagen\ publicidad.jpg);
width: 90%;
height: 120%;
margin-bottom: 50%;
padding: 60px;
border: solid red 80px;



}
p{
  font-family: 'Monaco';
  font-size: 30px;
  color: rgb(252, 248, 249);
  text-align:right ;
  


}

h3{
  font-family:"Brush Script MT";
  font-size: 80px;
  color: rgb(250, 246, 247);
text-align: right;

}
.imagen{
  margin: 3%;
display:inline-flex;
}


